.login-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-filter{
    filter: brightness(85%) sepia(29%) saturate(37%);

}

/* background image */
.login-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

/* centered card overlay */
.auth-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  background: rgba(255, 253, 248, 0.666);
  padding: 30px;
  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.button-color {
    background-color: blue;
    color: white;
}