<section class="store-section">
  <div class="store tint">
    <img src="images/vintageshop.jpg" alt="store image" />
  </div>
</section>

<section>
  <div class="story font">
    <h2>OUR STORY</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit excepturi explicabo, quo
      cumque in mollitia officia ullam labore earum aliquid quia numquam esse animi magnam tempora
      voluptate, maxime soluta dignissimos suscipit porro obcaecati itaque ipsa? Aliquid dolor
      asperiores voluptatem maxime corporis temporibus, quisquam quod eum et! Voluptatem illo rerum
      quaerat ducimus, nesciunt id, voluptates nobis non iste mollitia natus sed pariatur quis.
      Impedit reprehenderit saepe ducimus, neque non aperiam quidem itaque est fuga quisquam quia
      nostrum voluptatem laborum, iure assumenda numquam sunt reiciendis nemo fugit sed dolores.
      Repudiandae, totam! Alias debitis minima quos, molestias veniam illo magnam corporis officia
      perferendis nihil laudantium cum repellat! Iste similique incidunt magnam in! Odio dolores,
      quasi soluta iure laudantium ipsum cumque delectus, repellat, doloribus fuga minus aliquam
      blanditiis possimus placeat mollitia nostrum saepe praesentium? Ipsam voluptatum nesciunt est
      alias aliquid
    </p>
  </div>
</section>
<section class="cupcake py-5" style="background-color: rgb(255, 250, 232)">
  <div class="container">
    <div class="row align-items-center">
      <!-- LEFT TEXT -->
      <div class="col-12 col-md-6 text-md-start d-flex flex-column justify-content-center pe-md-5">
        <h1 class="font">Fresh Cupcakes</h1>
        <p class="font">We pride ourselves on making the best with quality ingredients...</p>
        <button type="button" class="btn cupcake-btn">Order Now</button>
      </div>

      <!-- RIGHT GRID -->
      <div class="col-12 col-md-6">
        <div class="grid">
          <img src="images/bakingutensils.jpg" alt="" />
          <img src="images/inoven.jpg" alt="" />
          <img src="images/cupcakes.jpg" alt="" />
          <img src="images/cakewithstraw.jpg" alt="" />
          <img src="images/cupcakeswithpowdersugar.jpg" alt="" />
          <img src="images/choclate.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <p class="font" style="font-style: italic; text-align: center; padding: 50px 200px">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quos beatae vero dolorem
    possimus at error, modi molestiae ipsum quibusdam mollitia debitis! Possimus, accusantium
    deleniti? Temporibus incidunt minima nulla, excepturi nisi voluptas cupiditate error debitis
    illum ratione non repellat assumenda tenetur libero eos voluptates cumque ut, earum vitae, quia
    officia minus eveniet? Praesentium modi animi aperiam tenetur, molestiae hic. Magni laborum,
    neque maxime nihil tempore, sequi odit eius expedita quae eveniet, laudantium hic. Neque est
    quam numquam eveniet iure deserunt doloremque nam, non mollitia dolore aut, a, corrupti
    consectetur molestias ipsum aperiam? Minus harum dolor iste, in quaerat eligendi modi?
  </p>
  <div class="grandpa font">
    <img src="images/grandpabaking.jpg" alt="" />
    <div style="font-style: italic; text-align: center; padding: 25px 100px">
      <h1 class="font" style="text-align: center; padding-top: 25px">OUR FOUNDER</h1>
      <h3 style="padding-bottom: 15px">Willie Marthaler</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime tenetur enim tempora, ex
        illum pariatur veniam molestias animi labore, debitis asperiores eveniet culpa excepturi a,
        commodi nostrum eum? Optio corporis dolores ratione! Accusantium eligendi, iusto, quam
        tempore provident sint deserunt dicta exercitationem asperiores fugiat iste eum? Quaerat
        eligendi distinctio officiis, culpa aut iure voluptate quod, ad expedita voluptates ipsa
        omnis, consectetur ipsam. Error, esse nulla. Mollitia vitae, asperiores aliquid earum nam
        unde tempore officia facere fugit quam perspiciatis similique esse culpa totam officiis iure
        provident delectus porro sunt illo ex adipisci maxime? Veniam voluptates quidem alias magnam
        aspernatur, ullam labore.
      </p>
    </div>
  </div>
</section>
