<section>
  <div style="padding-top: 100px">
    <label for="email" class="form-label">Password</label>
    <input type="email" id="email" class="form-control" value="Email*" />
    <div id="passwordHelpBlock" class="form-text">
      Your password must be 8-20 characters long, contain letters and numbers, and must not contain
      spaces, special characters, or emoji.
    </div>
  </div>
  <input
    class="form-control"
    type="text"
    value="Readonly input here..."
    aria-label="readonly input example"
    readonly
  />
</section>

<section>
  <!-- Paste this inside your <body> tag -->
  <iframe
    src="https://www.google.com/maps/embed?pb=@46.8837244,-96.8107153"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>

  <iframe
    src="https://www.google.com/maps/embed?pb=!4v1778051780905!6m8!1m7!1sCAoSFkNJSE0wb2dLRUlDQWdJQzZvc1NMVnc.!2m2!1d46.87801520031447!2d-96.78764298958673!3f186.6642383708704!4f-6.704262981912819!5f0.7820865974627469"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1928.488856394155!2d-96.78721274050874!3d46.877242869815845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1778051910878!5m2!1sen!2sus"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
