<h1>Manage</h1>

<app-admin-manage-selector
  [activeTab]="activeTab()"
  (tabChange)="setTab($event)"
></app-admin-manage-selector>

@if (activeTab() === 'accounts') {
<div class="users-container">
  @for (user of users(); track user.id) {
  <div class="account-tile">
    <app-admin-manage-acounts [user]="user" [usersMap]="usersMap"></app-admin-manage-acounts>
  </div>
  }
</div>

} @else if(activeTab() === 'products') {
<div class="premade-container"></div>
<div class="custom-items-container"></div>
}
