<table border="1">
  <tr>
    <th>{{ order.order_id }}</th>
    <th>
      {{ usersMap.get(order.customer)?.firstName }} {{ usersMap.get(order.customer)?.lastName }}
    </th>
    <th></th>
  </tr>

  <tr>
    <td>
      <button type="button" (click)="setApproved()" [class.active]="order.status === 'pending'">
        APPROVED
      </button>

      <button
        type="button"
        (click)="setInProgress()"
        [class.active]="order.status === 'in_progress'"
      >
        IN PROGRESS
      </button>

      <button type="button" (click)="setFinished()" [class.active]="order.status === 'completed'">
        FINISHED
      </button>

      <button type="button" (click)="setReceived()" [class.active]="order.status === 'received'">
        RECEIVED
      </button>
    </td>

    <td>
      <div class="order-items">
        <div class="order-items-grid">
          @for (itemId of order.order_items; track itemId) {
          <div class="order-item">
            {{ itemsMap.get(itemId)?.name }}
          </div>
          }
        </div>
      </div>
    </td>
  </tr>
</table>
