<section class="login-hero">
  <div class="image-filter">
      <img src="images/maybeinside.jpg" class="login-bg" alt="background" />
  </div>
  <div class="auth-card">
    <h2 class="mb-2 text-center font">Login</h2>
    <p class="text-center text-secondary mb-4">
      Sign in to manage your account and profile.
    </p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      @if (error) {
        <div class="alert alert-danger py-2">
          {{ error }}
        </div>
      }

      <div class="mb-3">
        <label class="form-label ">Email</label>
        <input class="form-control" type="email" formControlName="email" />
      </div>

      <div class="mb-3">
        <label class="form-label ">Password</label>
        <input class="form-control" type="password" formControlName="password" />
      </div>

      <button class="btn button-color w-100" type="submit" [disabled]="loading">
        Login
      </button>

      <button class="btn btn-outline-secondary w-100 mt-2" type="button" routerLink="/">
        Continue as Guest
      </button>
    </form>

    <a class="d-block text-center mt-3" routerLink="/register">
      Don't have an account? Sign Up
    </a>
  </div>
</section>