/* You can add global styles to this file, and also import other style files */
.font {
font-family:Georgia, 'Times New Roman', Times, serif;  color: #2b2b2b;
  font-weight: 700;
}

.cursivefont{
font-family: "Google Sans", sans-serif;}